
/*SegoeUi*/
@font-face {
    font-family: 'SegoeReg';
    src: url('fonts/SegoeUIRegular/SegoeUIRegular.eot');
    src: local('☺'), url('fonts/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
    url('fonts/SegoeUIRegular/SegoeUIRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeSemiBold';
    src: url('fonts/SegoeUISemiBold/SegoeUISemiBold.eot');
    src: local('☺'), url('fonts/SegoeUISemiBold/SegoeUISemiBold.woff') format('woff'),
    url('fonts/SegoeUISemiBold/SegoeUISemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SegoeBold';
    src: url('fonts/SegoeUIBold/SegoeUIBold.eot');
    src: local('☺'), url('fonts/SegoeUIBold/SegoeUIBold.woff') format('woff'),
    url('fonts/SegoeUIBold/SegoeUIBold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold/RobotoBold.eot');
    src: local('☺'), url('fonts/RobotoBold/RobotoBold.woff') format('woff'),
    url('fonts/RobotoBold/RobotoBold.ttf') format('truetype');
}