@import "mixins";
/*default*/
body{
  min-height: 100%;
  height: 100%;
  background: #eee;

}
html {
  height: 100%;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

i.fa{
  color: inherit;
}
/*Header*/
header{
  height: 64px;
  width: ~'calc(100% - 80px)';
  margin-left: 80px;
  background: @blue;
  box-shadow: 0 9px 21px rgba(22,32,72, 0.3);
  color: #162048;
  padding: 0 54px 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .transition(all 0.4s);
  z-index: 360;
  @media @mobile {
    margin: 0;
    width: 100%;
    padding: 0 40px 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .logo {
    display: none;
    @media @mobile {
      display: block;
    }
  }
  .header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .titleBlock {
    .font-size(20);
    font-family: @SSB;
    color: #fff;
    .ttu;
    .letter-spacing(100);
  }
  .rightBlock {
    position: relative;
  }
  .rightWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    @media @mobile {
      display: none;
      position: absolute;
      right: -25px;
      top: 15px;
      background: #fff;
      padding: 10px;
      box-shadow: 0 9px 21px rgba(0,0,0,0.15);
      z-index: 20;
    }
    & + .fa {
      position: absolute;
      color: #fff;
      font-size: 18px;
      .pos-centerY;
      right: -24px;
      cursor: pointer;
    }
  }
  .notification-box {
    position: relative;
    margin-right: 30px;
    @media @mobile {
      display: inline-flex;
    }
    i {
      color: @lightBlue;
      font-size: 22px;
    }
    span {
      position: absolute;
      left: 100%;
      top: -5px;
      font-size: 13px;
      color: @lightBlue;
      font-family: @RB;
    }
  }
  .user-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
      }
    }
    .name {
      color: #fff;
      padding-left: 15px;
      position: relative;
      @media @mobile {
        color: #58666e;
      }
      strong {
        font-family: @SB;
        color: inherit;
        font-size: 13px;
        line-height: 15px;
      }
      p {
        font-family: @SSB;
        font-size: 13px;
        color: inherit;
      }
    }
  }
  .menuBtn {
    width: 15px;
    height: 12px;
    position: absolute;
    left: 24px;
    z-index: 300;
    .pos-centerY;
    @media @mobile {
      left: 15px;
    }
    &:hover {
      cursor: pointer;
      span {
        background: #fff;
        .transition(all 0.4s);
      }
    }
    span {
      width: 15px;
      height: 2px;
      background: #a2a9b8;
      display: block;
      &:nth-child(2) {
        width: 12px;
        margin: 3px 0;
      }
      &:nth-child(3){
        width: 14px;
      }
    }
  }
}

/*Sidebar*/
.sidBarMenu {
  width: 80px;
  background: @blue;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 250;
  border-right: 1px solid #111e3a;
  border-left: 1px solid #111e3a;
  //overflow: hidden;
  .transition(all 0.4s);
  @media @mobile {
    .transform(translate(-100%));
  }
  .logo {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    border-right: 1px solid #12213e;
    overflow: hidden;
    img {
      &:first-child {
        margin-right: 10px;
      }
      &:last-child {
        .transition(all 0.4s);
        .transform(translateX(50px));
      }
    }
  }
  .scrollContainer {
    height: ~'calc(100% - 64px)';
    .scrollBox {
      height: 100%;
      .scroll-element.scroll-y,
      .scroll-element.scroll-x {
        display: none;
      }
    }
  }
}
/*Statistics*/
.statisticsBlock {
  background: @darkBlue;
  padding: 15px 15px 15px 24px;
  overflow: hidden;
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    width: 50%;
    padding-bottom: 20px;
    &:nth-child(2n) {
      .transition(all 0.4s);
      .transform(translateX(50px));
    }
  }
  .ttl {
    font-family: @SSB;
    .font-size(12);
    color: @blueText;
    .ttu;
    line-height: 20px;
    white-space: nowrap;
    span {
      color: inherit;
      font-size: inherit;
      font-family: @SSB;
      display: none;
    }
    &:after {
      content: attr(data-label);
    }
  }
  .nb {
    position: relative;
    span {
      color: #fff;
      font-size: 20px;
      font-family: @SSB;
      &.percent {
        font-family: @SSB;
        i {
          display: none;
        }
        &:before {
          content: "\f106";
          font-family: FontAwesome;
          display: block;
          font-size: 15px;
          position: absolute;
          top: -17px;
          left: -14px;
        }
        &.red {
          &:before {
            content: "\f107";
            color: @red;
          }
        }
        &.green {
          &:before {
            color: @green;
          }
        }
      }
    }
  }
}

/*Menu*/
.menuWrapper {
  * {
    .transition(all 0.4s);
  }
  ul {
    position: relative;

    li {
      height: auto;
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-left: 24px;
      position: relative;
      border-left: 4px solid transparent;
      overflow: hidden;
      &.bb {
        padding-bottom: 8px;
        &:after {
          content: '';
          height: 1px;
          background: #32415e;
          left: 24px;
          right: 24px;
          position: absolute;
          bottom: 0;
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 60px;
        width:100%;
      }
      .ico {
        min-width: 36px;
        text-align: left;
        color: #fff;
        i {
          font-size: 18px;
          color: inherit;
        }
      }

      .title {
        font-family: @SR;
        color: #fff;
        .font-size(14);
        .letter-spacing(10);
        line-height: 20px;
        .transform(translateX(50px));
        .transition(all 0.4s);
      }
      .bubble {
        min-width:24px;
        height: 24px;
        border-radius: 5px;
        background: @lightBlue;
        color: @darkBlue;
        font-family: @SB;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 40px;
      }
      .expand {
        display: none;
        position: absolute;
        right: 15px;
        top: 20px;
        font-size: 16px;
        .transition(all 0.4s);
        cursor: pointer;
        z-index: 50;
        i {
          color: #fff;
        }
      }
      &:hover {
        .ico {
          color: @lightBlue;
        }
        .title {
          color: @lightBlue;
        }
      }
      &.childList {
        cursor: pointer;
        a {
          pointer-events: none;
        }
      }
      &.open {
        background: @darkBlue;
        border-color: @lightBlue;
        .expand {
          .transform(rotate(90deg));
          i {

            color: @lightBlue;
          }
        }
        .subMenu {
          height: auto;
          overflow: visible;
        }
      }
    }
    .subMenu {
      margin-left: 35px;
      height: 0;
      overflow: hidden;
      li {
        padding: 0;
        a {
          color: #fff;
          height: 40px;
          .font-size(14);
        }
        span {
          color: #fff;
          height: 50px;
          width: 100%;
          .font-size(14);
          line-height: 50px;
          display: block;
          border-bottom: 1px solid #2c3b59;
        }
        &:hover {
          a {
            color: @lightBlue;
          }
        }
      }
    }
  }
}
main {
  height: ~'calc(100% - 64px)';
  &.hideMenu {
    .menuWrapper {
      li {
        .bubble {
          .transform(translateX(250px));
        }
        &.childList {
          &.showSub {
            cursor: pointer;
            overflow: visible;
            background: @darkBlue;
            border-color: @lightBlue;
            .subMenu {
              margin: 0;
              height: auto;
              overflow: visible;
              position: fixed;
              left: 80px;
              top: 0;
              background: @darkBlue;
              padding: 0 55px;
              li {
                a {
                  white-space: nowrap;
                }
              }
            }
          }
        }
      }
    }
  }
  &.showMenu {
    header {
      margin-left: 240px;
      width: ~'calc(100% - 240px)';
      padding-left: 30px;
      @media @mobile {
        margin-left: 0;
        width: 100%;
        padding: 0 40px 0 50px;
      }
      .menuBtn {
        left: -34px;
        @media @mobile {
          left: 15px;
        }
      }
    }
    .sidBarMenu {
      width: 240px;
      .transform(translate(0));
      img {
        &:last-child {
          .transform(translateX(0%));
        }
      }
      .statisticsBlock {
        padding-right: 24px;
        li {
          &:nth-child(2n) {
            .transform(translateX(0));
          }
          .ttl {
            &:after {
              display: none;
            }
            span {
              display: block;
            }
          }
          .nb {
            white-space: nowrap;
            .percent {
              &:before {
                display: none;
              }
              i {
                display: inline;
                .font-size(13);
                font-style: normal;
                .transition(all 0.1s 0.8s);
              }
              &.red {
                i {
                  color: @red;
                }
              }
              &.green {
                i {
                  color: @green;
                }
              }
            }
          }
        }
      }
      .menuWrapper {
        li {
          .title {
            .transform(translateX(0%));
          }
          .expand {
            display: block;
          }
          .subMenu {
            top: auto!important;
            li {
              &:first-child {
                display: none;
              }
            }
          }
        }
      }
    }
    .contentWrapper {
      margin-left: 240px;
      .transition(all 0.4s);
      @media @mobile {
        margin: 64px 0 0;
      }
    }
  }
}

/*content*/
.contentWrapper {
  margin-left: 80px;
  padding: 36px 24px 36px 16px;
  position: relative;
  height: 100%;
  @media @mobile {
    margin: 64px 0 0;
    padding: 20px 15px;
    height: auto;
  }
}

/*topNavigation*/
.topNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media @tablet, @mobile {
    flex-direction: column;
  }
  .navigationBox ul, .filterBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .navigationBox {
    @media @tablet, @mobile {
      width: 100%;
    }
    ul {
      li {
        padding: 0 30px;
        @media @mobile {
          padding: 0 10px;
        }

        &:first-child {
          padding-left: 15px;
          @media @mobile {
            padding-left: 0;
          }
        }
        &:last-child {
          a {
            &:after {
              display: none;
            }
          }
        }
      }
      a {
        .font-size(24);
        font-family: @SR;
        padding: 0 0 10px;
        display: block;
        position: relative;
        @media @mobile {
          .font-size(18);
          padding-bottom: 5px;
        }
        &:after {
          content: '';
          display: block;
          width: 1px;
          height: 16px;
          background: #bebebe;
          position: absolute;
          left: ~'calc(100% + 10px)';
          top: 5px;
        }
        &.active {
          border-bottom: 2px solid #4d5c7c;
        }
      }
    }
  }
  .filterBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @media @mobile {
      margin-top: 10px;
    }
    .period {
      position: relative;
      .font-size(16);
      margin-right: 30px;
      font-family: @SR;
      &:after {
        content: '';
        display: block;
        width: 1px;
        height: 16px;
        background: #bebebe;
        position: absolute;
        left: ~'calc(100% + 30px)';
        top: 5px;
      }
      .calendarBox {
        display: inline-block;
      }
      span {
        color: @lightBlue;
        font-family: @SSB;
      }
      .moreBtn {
        width: 24px;
        height: 24px;
        border-radius: 5px;
        background: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        box-shadow: 0 9px 21px rgba(0,0,0,0.15);
        &.active {
          i {
            .transform(rotate(-180deg))
          }
        }
        i {
          font-size: 16px;
          .transform(all 0.4s);
        }
      }
    }
    .filter {
      height: 40px;
      background: #fff;
      margin-left: 30px;
      border-radius: 5px;
      padding: 0 15px 0 20px;
      .font-size(14);
      color: @grayText;
      font-family: @SSB;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 9px 21px rgba(0,0,0,0.15);
      @media @mobile {
        height: 34px;
      }
      .ico {
        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
        &.ico-filter {
          background-image: url('../img/ico/filter.png');
          width: 18px;
          height: 12px;
        }
      }
    }
  }
}

/*controlsPanel*/

.btnBlue {
  background: @lightBlue;
  border: 1px solid @lightBlue;
  height: 32px;
  font-family: @SSB;
  border-radius: 5px;
  padding: 0 25px;
  display: block;
  line-height: 32px;
  .font-size(14);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  .transition(all 0.4s);
  &:hover {
    background: transparent;
    color: @lightBlue;
  }
}
.controlsPanel {
  ul {
    display: flex;
    margin: 22px 0 0 12px;
    @media @mobile {
      flex-wrap: wrap;
      margin-left: 0;
    }
    li {
      margin: 0 2px;
      @media @mobile {
        width: ~'calc(50% - 4px)';
        margin-bottom: 4px;
      }
    }
  }
}

/*table*/
.tableWrapper {
  position: relative;
  width: 100%;
  margin-top: 24px;
  @media @mobile {
    margin-top: 15px;
  }
  .tr-row {
    display: table-row;
    @media @mobile {
      display: block;
      border-bottom: 4px solid #eee;
    }
    .td-col {
      display: table-cell;
      @media @mobile {
        display: block;
        padding-left: ~'calc(35% + 15px)';
        position: relative;
      }
    }
  }
  .td-col {
  }
}
.tableHeader {
  width: 100%;
  @media @mobile {
    display: none;
  }
  .row-thead {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .td-col {
    color: @grayText;
    font-family: @SR;
    .font-size(14);
    padding: 16px;
  }
}
.tableWrapContent {
  .scrollBox {
    height: 100%;
    @media @mobile {
      max-height: inherit !important;
    }
  }
  .tableContent {
    display: table;
    width: 100%;
    table-layout: fixed;
    .row-tbody {
      display: table-row-group;
      @media @mobile {
        display: block;
      }
      .tr-row {
        &.row-head {
          .td-col {
            padding: 4px 0;
            strong {
              padding: 0 15px;
              background: #fff;
              position: relative;
              bottom: -5px;
              @media @mobile {
                bottom: 0;
                background: transparent;
              }
            }
            &:first-child {
              display: block;
            }
            @media @mobile {
              display: none;
            }
          }
        }
        &:last-child {
          .td-col {
            border-bottom: 8px solid #eee;
            @media @mobile {
              border-width: 2px;
            }
          }
        }
      }
    }
  }
}
.row-tbody {
  display: table-row-group;
  @media @mobile {
    display: block;
  }
  .td-col {
    background: #fff;
    padding: 21px 16px;
    .font-size(14);
    font-family: @SR;
    color: @blueText;
    border-bottom: 1px solid #eee;
    @media @mobile {
      padding: 15px;
    }
    &:before {
      @media @mobile {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 35%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        padding: 0 15px;
        background: #e5f9f9;
        box-sizing: border-box;
      }
    }
    strong {
      font-family: @SB;
      font-size: inherit;
      color: inherit;
    }
  }
  .tr-row {
    .td-col {
      &:first-child {
        border-radius: 2px 0 0 2px;
      }
      &:last-child {
        border-radius: 0 2px 2px 0;
      }
    }
  }
}

/*pagination*/
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  @media @mobile {
    padding: 10px 0;
    margin: 0;
  }
  .arrow-p {
    width: 24px;
    height: 24px;
    background: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    .transition(all 0.4s);
    &:hover {
      background: #fff;
    }
    i {
      color: @lightBlue;
      font-size: 18px;
    }
  }
  & > div {
    margin: 0 10px;
    color: @lightBlue;
    font-family: @SR;
    span {
      font-size: 14px;
      font-family: @SB;
      color: inherit;
      &.active {
        width: 24px;
        height: 24px;
        border-radius: 5px;
        border: 1px solid #cdd2d5;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
      }
    }
  }
}

/*Tablefooter*/
.tableFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 16px;
  background: #fff;
  @media @mobile {
    padding: 0;
    background: transparent;
    position: static;
    left: auto;
    right: auto;
    bottom: auto;

  }
  .tableFooterContent {
    display: table;
    width: 100%;
    table-layout: fixed;
    @media @mobile {

      display: block;
    }
    .row-foot {
      display: table-footer-group;
      @media @mobile {
        display: block;
      }
      .tr-row {
        display: table-row;
        @media @mobile {
          display: block;
        }
      }
      .td-col {
        display: table-cell;
        background: #ffffff;
        padding: 16px;
        .font-size(14);
        color: @darkBlue;
        font-family: @RB;
        .ttu;
        @media @mobile {
          display: block;
          padding-left: ~'calc(35% + 15px)';
          position: relative;
        }
        &:before {
          @media @mobile {
            content: attr(data-label);
            position: absolute;
            left: 0;
            width: 35%;
            height: 100%;
            top: 0;
            display: flex;
            align-items: center;
            padding: 0 15px;
            background: #e5f9f9;
            box-sizing: border-box;
          }
        }

      }
    }
  }
}

/*calendar*/
.period {
  .calendarWrapper {
    background: #fff;
    position: absolute;
    right: 0;
    top: ~'calc(100% + 10px)';
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
    @media @mobile {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: 95%;
      z-index: 370;
    }
    .ui-widget-content {
      border: none;
    }
    .ui-datepicker-group {
      @media @mobile {
        float: none;
        width: 100%;
      }
    }
    #date_range {
      border-bottom: 1px solid #e5e5e5;
      .ui-datepicker-group {
        &:first-child {
          border-right: 1px solid #e5e5e5;
          @media @mobile {
            border: none;
          }
        }
      }
    }
    .ui-datepicker {
      width: 540px !important;
      //width: 100% !important;
      padding: 0;
      @media @tablet, @mobile {
        width: auto!important;
      }

      .ui-datepicker-header {
        background: transparent;
        .ui-datepicker-prev {
          display: flex;
          align-items: center;
          justify-content: center;
          .ui-icon {
            text-indent: 0;
            background-image: none;
            &:before {
              content: '\f104';
              display: block;
              font-family: FontAwesome;
              font-size: 18px;
              width: 8px;
              margin: 0 auto;
            }
          }
        }
        .ui-datepicker-next {
          .ui-icon {
            text-indent: 0;
            background-image: none;
            &:before {
              content: '\f105';
              display: block;
              font-family: FontAwesome;
              font-size: 18px;
              width: 8px;
              margin: 0 auto;
            }
          }
        }
      }
      .ui-datepicker-title {
        span {
          font-family: @SR;
          .font-size(18);
          color: @blueText;
        }
      }
      td {
        padding: 5px;
        @media @tablet, @mobile {
          padding: 0;
        }
        &.selected {
          background: #e5f9f9;
        }
        .ui-state-default {
          font-family: @SSB;
          .font-size(16);
          color: @grayText;
          width: 24px;
          height: 24px;
          line-height: 24px;
          padding: 0;
        }
        .ui-state-hover {
          background: @lightBlue;
          color: #fff;
        }
        .ui-state-highlight {
          color: #fff;
        }
        .ui-state-active {
          background: #e5f9f9;
          color: @grayText;
          font-family: @SB;
        }
      }
    }

    .ui-datepicker-calendar {
      th {
        span {
          font-family: @SR;
          color: @grayText;
          .font-size(12);
          .ttu;
        }
      }
    }
    .ui-datepicker .selected-start:not(.selected-end) a,
    .ui-datepicker .selected-end:not(.selected-start) a {
      background: @lightBlue;
      color: #fff;
    }
  }
}
.selectedBar {
  color: @grayText;
  .font-size(14);
  display: flex;
  align-items: center;
  padding: 24px;
  @media @mobile {
    padding: 12px;
  }
  ul {
    display: flex;
    @media @mobile {
      flex-wrap: wrap;
    }
    li {
      padding: 0 12px;
      @media @mobile {
        padding: 0 7px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    a {
      .font-size(12);
      font-family: @SB;
      color: @lightBlue;
      white-space: nowrap;
      .ttu;
    }
  }
}
.footer-popup {
  border-top: 1px solid #e5e5e5;
  padding: 30px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media @mobile {
    flex-wrap: wrap;
    padding: 12px;
  }
}
.outputDate {
  position: relative;
  &>div {
    font-family: @SSB;
    .font-size(16);
    color: @grayText;
    display: inline-block;
    &:last-of-type {
      &:after {
        display: none;
      }
    }
    &:after {
      content: '\f105';
      font-family: FontAwesome;
      color: @lightBlue;
      margin: 0 5px;
    }

  }
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 16px;
    background: #dedede;
    position: absolute;
    right: -30px;
    top: 2px;
    @media @mobile {
      display: none;
    }
  }
}
.btn-bar {
  display: flex;
  align-items: center;
  @media @mobile {
    margin-top: 10px;
    justify-content: flex-end;
    width: 100%;
  }
  .btnBlue {
    margin-left: 12px;
  }
}