/* colors */
/* colors */
/*fonts*/
/*SegoeUI*/
/*Roboto*/
/*fonts*/
/*functions*/
.nonScroll {
  overflow: hidden;
  height: 100%;
}
.burger {
  display: none;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.full {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-underline {
  text-decoration: underline;
}
.clear {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'SegoeReg', sans-serif;
  color: #58666e;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  * {
    font-size: 13px;
  }
}
/* For modern browsers */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: "";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
/* для IE6-7 */
.clearfix,
.container,
.row {
  zoom: 1;
  position: relative;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.fln {
  float: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.ttn {
  text-transform: none;
}
.h-nav {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.h-nav li {
  display: inline-block;
}
.bd100 {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.w100p {
  width: 100%;
}
.w50p {
  width: 50%;
}
.justify {
  text-align: justify;
  font-size: 0.01px;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.justify .left,
.justify .right {
  display: inline-block;
  line-height: normal;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------Градиенты---------------------------*/
/*------------------------Градиенты---------------------------*/
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
/*default*/
body {
  min-height: 100%;
  height: 100%;
  background: #eee;
}
html {
  height: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
i.fa {
  color: inherit;
}
/*Header*/
header {
  height: 64px;
  width: calc(100% - 80px);
  margin-left: 80px;
  background: #1b2e58;
  box-shadow: 0 9px 21px rgba(22, 32, 72, 0.3);
  color: #162048;
  padding: 0 54px 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 360;
}
@media only screen and (max-width: 767px) {
  header {
    margin: 0;
    width: 100%;
    padding: 0 40px 0 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}
header .logo {
  display: none;
}
@media only screen and (max-width: 767px) {
  header .logo {
    display: block;
  }
}
header .header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .titleBlock {
  font-size: 1.25rem;
  font-family: 'SegoeSemiBold', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
header .rightBlock {
  position: relative;
}
header .rightWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  header .rightWrap {
    display: none;
    position: absolute;
    right: -25px;
    top: 15px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
    z-index: 20;
  }
}
header .rightWrap + .fa {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -24px;
  cursor: pointer;
}
header .notification-box {
  position: relative;
  margin-right: 30px;
}
@media only screen and (max-width: 767px) {
  header .notification-box {
    display: inline-flex;
  }
}
header .notification-box i {
  color: #02c3c7;
  font-size: 22px;
}
header .notification-box span {
  position: absolute;
  left: 100%;
  top: -5px;
  font-size: 13px;
  color: #02c3c7;
  font-family: 'RobotoBold', sans-serif;
}
header .user-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .user-box .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
header .user-box .avatar img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
header .user-box .name {
  color: #fff;
  padding-left: 15px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  header .user-box .name {
    color: #58666e;
  }
}
header .user-box .name strong {
  font-family: 'SegoeBold', sans-serif;
  color: inherit;
  font-size: 13px;
  line-height: 15px;
}
header .user-box .name p {
  font-family: 'SegoeSemiBold', sans-serif;
  font-size: 13px;
  color: inherit;
}
header .menuBtn {
  width: 15px;
  height: 12px;
  left: 24px;
  z-index: 300;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 767px) {
  header .menuBtn {
    left: 15px;
  }
}
header .menuBtn:hover {
  cursor: pointer;
}
header .menuBtn:hover span {
  background: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .menuBtn span {
  width: 15px;
  height: 2px;
  background: #a2a9b8;
  display: block;
}
header .menuBtn span:nth-child(2) {
  width: 12px;
  margin: 3px 0;
}
header .menuBtn span:nth-child(3) {
  width: 14px;
}
/*Sidebar*/
.sidBarMenu {
  width: 80px;
  background: #1b2e58;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 250;
  border-right: 1px solid #111e3a;
  border-left: 1px solid #111e3a;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 767px) {
  .sidBarMenu {
    -webkit-transform: translate(-100%);
    -moz-transform: translate(-100%);
    -ms-transform: translate(-100%);
    -o-transform: translate(-100%);
    transform: translate(-100%);
  }
}
.sidBarMenu .logo {
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-right: 1px solid #12213e;
  overflow: hidden;
}
.sidBarMenu .logo img:first-child {
  margin-right: 10px;
}
.sidBarMenu .logo img:last-child {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
}
.sidBarMenu .scrollContainer {
  height: calc(100% - 64px);
}
.sidBarMenu .scrollContainer .scrollBox {
  height: 100%;
}
.sidBarMenu .scrollContainer .scrollBox .scroll-element.scroll-y,
.sidBarMenu .scrollContainer .scrollBox .scroll-element.scroll-x {
  display: none;
}
/*Statistics*/
.statisticsBlock {
  background: #12213e;
  padding: 15px 15px 15px 24px;
  overflow: hidden;
}
.statisticsBlock ul {
  display: flex;
  flex-wrap: wrap;
}
.statisticsBlock li {
  width: 50%;
  padding-bottom: 20px;
}
.statisticsBlock li:nth-child(2n) {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
}
.statisticsBlock .ttl {
  font-family: 'SegoeSemiBold', sans-serif;
  font-size: 0.75rem;
  color: #58666e;
  text-transform: uppercase;
  line-height: 20px;
  white-space: nowrap;
}
.statisticsBlock .ttl span {
  color: inherit;
  font-size: inherit;
  font-family: 'SegoeSemiBold', sans-serif;
  display: none;
}
.statisticsBlock .ttl:after {
  content: attr(data-label);
}
.statisticsBlock .nb {
  position: relative;
}
.statisticsBlock .nb span {
  color: #fff;
  font-size: 20px;
  font-family: 'SegoeSemiBold', sans-serif;
}
.statisticsBlock .nb span.percent {
  font-family: 'SegoeSemiBold', sans-serif;
}
.statisticsBlock .nb span.percent i {
  display: none;
}
.statisticsBlock .nb span.percent:before {
  content: "\f106";
  font-family: FontAwesome;
  display: block;
  font-size: 15px;
  position: absolute;
  top: -17px;
  left: -14px;
}
.statisticsBlock .nb span.percent.red:before {
  content: "\f107";
  color: #f33155;
}
.statisticsBlock .nb span.percent.green:before {
  color: #0dbc00;
}
/*Menu*/
.menuWrapper * {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menuWrapper ul {
  position: relative;
}
.menuWrapper ul li {
  height: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 24px;
  position: relative;
  border-left: 4px solid transparent;
  overflow: hidden;
}
.menuWrapper ul li.bb {
  padding-bottom: 8px;
}
.menuWrapper ul li.bb:after {
  content: '';
  height: 1px;
  background: #32415e;
  left: 24px;
  right: 24px;
  position: absolute;
  bottom: 0;
}
.menuWrapper ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
}
.menuWrapper ul li .ico {
  min-width: 36px;
  text-align: left;
  color: #fff;
}
.menuWrapper ul li .ico i {
  font-size: 18px;
  color: inherit;
}
.menuWrapper ul li .title {
  font-family: 'SegoeReg', sans-serif;
  color: #fff;
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  line-height: 20px;
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menuWrapper ul li .bubble {
  min-width: 24px;
  height: 24px;
  border-radius: 5px;
  background: #02c3c7;
  color: #12213e;
  font-family: 'SegoeBold', sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
}
.menuWrapper ul li .expand {
  display: none;
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 16px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  z-index: 50;
}
.menuWrapper ul li .expand i {
  color: #fff;
}
.menuWrapper ul li:hover .ico {
  color: #02c3c7;
}
.menuWrapper ul li:hover .title {
  color: #02c3c7;
}
.menuWrapper ul li.childList {
  cursor: pointer;
}
.menuWrapper ul li.childList a {
  pointer-events: none;
}
.menuWrapper ul li.open {
  background: #12213e;
  border-color: #02c3c7;
}
.menuWrapper ul li.open .expand {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menuWrapper ul li.open .expand i {
  color: #02c3c7;
}
.menuWrapper ul li.open .subMenu {
  height: auto;
  overflow: visible;
}
.menuWrapper ul .subMenu {
  margin-left: 35px;
  height: 0;
  overflow: hidden;
}
.menuWrapper ul .subMenu li {
  padding: 0;
}
.menuWrapper ul .subMenu li a {
  color: #fff;
  height: 40px;
  font-size: 0.875rem;
}
.menuWrapper ul .subMenu li span {
  color: #fff;
  height: 50px;
  width: 100%;
  font-size: 0.875rem;
  line-height: 50px;
  display: block;
  border-bottom: 1px solid #2c3b59;
}
.menuWrapper ul .subMenu li:hover a {
  color: #02c3c7;
}
main {
  height: calc(100% - 64px);
}
main.hideMenu .menuWrapper li .bubble {
  -webkit-transform: translateX(250px);
  -moz-transform: translateX(250px);
  -ms-transform: translateX(250px);
  -o-transform: translateX(250px);
  transform: translateX(250px);
}
main.hideMenu .menuWrapper li.childList.showSub {
  cursor: pointer;
  overflow: visible;
  background: #12213e;
  border-color: #02c3c7;
}
main.hideMenu .menuWrapper li.childList.showSub .subMenu {
  margin: 0;
  height: auto;
  overflow: visible;
  position: fixed;
  left: 80px;
  top: 0;
  background: #12213e;
  padding: 0 55px;
}
main.hideMenu .menuWrapper li.childList.showSub .subMenu li a {
  white-space: nowrap;
}
main.showMenu header {
  margin-left: 240px;
  width: calc(100% - 240px);
  padding-left: 30px;
}
@media only screen and (max-width: 767px) {
  main.showMenu header {
    margin-left: 0;
    width: 100%;
    padding: 0 40px 0 50px;
  }
}
main.showMenu header .menuBtn {
  left: -34px;
}
@media only screen and (max-width: 767px) {
  main.showMenu header .menuBtn {
    left: 15px;
  }
}
main.showMenu .sidBarMenu {
  width: 240px;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
main.showMenu .sidBarMenu img:last-child {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
main.showMenu .sidBarMenu .statisticsBlock {
  padding-right: 24px;
}
main.showMenu .sidBarMenu .statisticsBlock li:nth-child(2n) {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
main.showMenu .sidBarMenu .statisticsBlock li .ttl:after {
  display: none;
}
main.showMenu .sidBarMenu .statisticsBlock li .ttl span {
  display: block;
}
main.showMenu .sidBarMenu .statisticsBlock li .nb {
  white-space: nowrap;
}
main.showMenu .sidBarMenu .statisticsBlock li .nb .percent:before {
  display: none;
}
main.showMenu .sidBarMenu .statisticsBlock li .nb .percent i {
  display: inline;
  font-size: 0.8125rem;
  font-style: normal;
  -webkit-transition: all 0.1s 0.8s;
  -moz-transition: all 0.1s 0.8s;
  -ms-transition: all 0.1s 0.8s;
  -o-transition: all 0.1s 0.8s;
  transition: all 0.1s 0.8s;
}
main.showMenu .sidBarMenu .statisticsBlock li .nb .percent.red i {
  color: #f33155;
}
main.showMenu .sidBarMenu .statisticsBlock li .nb .percent.green i {
  color: #0dbc00;
}
main.showMenu .sidBarMenu .menuWrapper li .title {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}
main.showMenu .sidBarMenu .menuWrapper li .expand {
  display: block;
}
main.showMenu .sidBarMenu .menuWrapper li .subMenu {
  top: auto!important;
}
main.showMenu .sidBarMenu .menuWrapper li .subMenu li:first-child {
  display: none;
}
main.showMenu .contentWrapper {
  margin-left: 240px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 767px) {
  main.showMenu .contentWrapper {
    margin: 64px 0 0;
  }
}
/*content*/
.contentWrapper {
  margin-left: 80px;
  padding: 36px 24px 36px 16px;
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .contentWrapper {
    margin: 64px 0 0;
    padding: 20px 15px;
    height: auto;
  }
}
/*topNavigation*/
.topNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .topNavigation {
    flex-direction: column;
  }
}
.topNavigation .navigationBox ul,
.topNavigation .filterBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .topNavigation .navigationBox {
    width: 100%;
  }
}
.topNavigation .navigationBox ul li {
  padding: 0 30px;
}
@media only screen and (max-width: 767px) {
  .topNavigation .navigationBox ul li {
    padding: 0 10px;
  }
}
.topNavigation .navigationBox ul li:first-child {
  padding-left: 15px;
}
@media only screen and (max-width: 767px) {
  .topNavigation .navigationBox ul li:first-child {
    padding-left: 0;
  }
}
.topNavigation .navigationBox ul li:last-child a:after {
  display: none;
}
.topNavigation .navigationBox ul a {
  font-size: 1.5rem;
  font-family: 'SegoeReg', sans-serif;
  padding: 0 0 10px;
  display: block;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .topNavigation .navigationBox ul a {
    font-size: 1.125rem;
    padding-bottom: 5px;
  }
}
.topNavigation .navigationBox ul a:after {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background: #bebebe;
  position: absolute;
  left: calc(100% + 10px);
  top: 5px;
}
.topNavigation .navigationBox ul a.active {
  border-bottom: 2px solid #4d5c7c;
}
.topNavigation .filterBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .topNavigation .filterBox {
    margin-top: 10px;
  }
}
.topNavigation .filterBox .period {
  position: relative;
  font-size: 1rem;
  margin-right: 30px;
  font-family: 'SegoeReg', sans-serif;
}
.topNavigation .filterBox .period:after {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background: #bebebe;
  position: absolute;
  left: calc(100% + 30px);
  top: 5px;
}
.topNavigation .filterBox .period .calendarBox {
  display: inline-block;
}
.topNavigation .filterBox .period span {
  color: #02c3c7;
  font-family: 'SegoeSemiBold', sans-serif;
}
.topNavigation .filterBox .period .moreBtn {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
}
.topNavigation .filterBox .period .moreBtn.active i {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.topNavigation .filterBox .period .moreBtn i {
  font-size: 16px;
  -webkit-transform: all 0.4s;
  -moz-transform: all 0.4s;
  -ms-transform: all 0.4s;
  -o-transform: all 0.4s;
  transform: all 0.4s;
}
.topNavigation .filterBox .filter {
  height: 40px;
  background: #fff;
  margin-left: 30px;
  border-radius: 5px;
  padding: 0 15px 0 20px;
  font-size: 0.875rem;
  color: #8898a0;
  font-family: 'SegoeSemiBold', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 767px) {
  .topNavigation .filterBox .filter {
    height: 34px;
  }
}
.topNavigation .filterBox .filter .ico {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px;
}
.topNavigation .filterBox .filter .ico.ico-filter {
  background-image: url('../img/ico/filter.png');
  width: 18px;
  height: 12px;
}
/*controlsPanel*/
.btnBlue {
  background: #02c3c7;
  border: 1px solid #02c3c7;
  height: 32px;
  font-family: 'SegoeSemiBold', sans-serif;
  border-radius: 5px;
  padding: 0 25px;
  display: block;
  line-height: 32px;
  font-size: 0.875rem;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.btnBlue:hover {
  background: transparent;
  color: #02c3c7;
}
.controlsPanel ul {
  display: flex;
  margin: 22px 0 0 12px;
}
@media only screen and (max-width: 767px) {
  .controlsPanel ul {
    flex-wrap: wrap;
    margin-left: 0;
  }
}
.controlsPanel ul li {
  margin: 0 2px;
}
@media only screen and (max-width: 767px) {
  .controlsPanel ul li {
    width: calc(50% - 4px);
    margin-bottom: 4px;
  }
}
/*table*/
.tableWrapper {
  position: relative;
  width: 100%;
  margin-top: 24px;
}
@media only screen and (max-width: 767px) {
  .tableWrapper {
    margin-top: 15px;
  }
}
.tableWrapper .tr-row {
  display: table-row;
}
@media only screen and (max-width: 767px) {
  .tableWrapper .tr-row {
    display: block;
    border-bottom: 4px solid #eee;
  }
}
.tableWrapper .tr-row .td-col {
  display: table-cell;
}
@media only screen and (max-width: 767px) {
  .tableWrapper .tr-row .td-col {
    display: block;
    padding-left: calc(35% + 15px);
    position: relative;
  }
}
.tableHeader {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .tableHeader {
    display: none;
  }
}
.tableHeader .row-thead {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.tableHeader .td-col {
  color: #8898a0;
  font-family: 'SegoeReg', sans-serif;
  font-size: 0.875rem;
  padding: 16px;
}
.tableWrapContent .scrollBox {
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .tableWrapContent .scrollBox {
    max-height: inherit !important;
  }
}
.tableWrapContent .tableContent {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.tableWrapContent .tableContent .row-tbody {
  display: table-row-group;
}
@media only screen and (max-width: 767px) {
  .tableWrapContent .tableContent .row-tbody {
    display: block;
  }
}
.tableWrapContent .tableContent .row-tbody .tr-row.row-head .td-col {
  padding: 4px 0;
}
.tableWrapContent .tableContent .row-tbody .tr-row.row-head .td-col strong {
  padding: 0 15px;
  background: #fff;
  position: relative;
  bottom: -5px;
}
@media only screen and (max-width: 767px) {
  .tableWrapContent .tableContent .row-tbody .tr-row.row-head .td-col strong {
    bottom: 0;
    background: transparent;
  }
}
.tableWrapContent .tableContent .row-tbody .tr-row.row-head .td-col:first-child {
  display: block;
}
@media only screen and (max-width: 767px) {
  .tableWrapContent .tableContent .row-tbody .tr-row.row-head .td-col {
    display: none;
  }
}
.tableWrapContent .tableContent .row-tbody .tr-row:last-child .td-col {
  border-bottom: 8px solid #eee;
}
@media only screen and (max-width: 767px) {
  .tableWrapContent .tableContent .row-tbody .tr-row:last-child .td-col {
    border-width: 2px;
  }
}
.row-tbody {
  display: table-row-group;
}
@media only screen and (max-width: 767px) {
  .row-tbody {
    display: block;
  }
}
.row-tbody .td-col {
  background: #fff;
  padding: 21px 16px;
  font-size: 0.875rem;
  font-family: 'SegoeReg', sans-serif;
  color: #58666e;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 767px) {
  .row-tbody .td-col {
    padding: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .row-tbody .td-col:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 35%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #e5f9f9;
    box-sizing: border-box;
  }
}
.row-tbody .td-col strong {
  font-family: 'SegoeBold', sans-serif;
  font-size: inherit;
  color: inherit;
}
.row-tbody .tr-row .td-col:first-child {
  border-radius: 2px 0 0 2px;
}
.row-tbody .tr-row .td-col:last-child {
  border-radius: 0 2px 2px 0;
}
/*pagination*/
.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
@media only screen and (max-width: 767px) {
  .pagination {
    padding: 10px 0;
    margin: 0;
  }
}
.pagination .arrow-p {
  width: 24px;
  height: 24px;
  background: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.pagination .arrow-p:hover {
  background: #fff;
}
.pagination .arrow-p i {
  color: #02c3c7;
  font-size: 18px;
}
.pagination > div {
  margin: 0 10px;
  color: #02c3c7;
  font-family: 'SegoeReg', sans-serif;
}
.pagination > div span {
  font-size: 14px;
  font-family: 'SegoeBold', sans-serif;
  color: inherit;
}
.pagination > div span.active {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  border: 1px solid #cdd2d5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
/*Tablefooter*/
.tableFooter {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 16px;
  background: #fff;
}
@media only screen and (max-width: 767px) {
  .tableFooter {
    padding: 0;
    background: transparent;
    position: static;
    left: auto;
    right: auto;
    bottom: auto;
  }
}
.tableFooter .tableFooterContent {
  display: table;
  width: 100%;
  table-layout: fixed;
}
@media only screen and (max-width: 767px) {
  .tableFooter .tableFooterContent {
    display: block;
  }
}
.tableFooter .tableFooterContent .row-foot {
  display: table-footer-group;
}
@media only screen and (max-width: 767px) {
  .tableFooter .tableFooterContent .row-foot {
    display: block;
  }
}
.tableFooter .tableFooterContent .row-foot .tr-row {
  display: table-row;
}
@media only screen and (max-width: 767px) {
  .tableFooter .tableFooterContent .row-foot .tr-row {
    display: block;
  }
}
.tableFooter .tableFooterContent .row-foot .td-col {
  display: table-cell;
  background: #ffffff;
  padding: 16px;
  font-size: 0.875rem;
  color: #12213e;
  font-family: 'RobotoBold', sans-serif;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .tableFooter .tableFooterContent .row-foot .td-col {
    display: block;
    padding-left: calc(35% + 15px);
    position: relative;
  }
}
@media only screen and (max-width: 767px) {
  .tableFooter .tableFooterContent .row-foot .td-col:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 35%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: #e5f9f9;
    box-sizing: border-box;
  }
}
/*calendar*/
.period .calendarWrapper {
  background: #fff;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 767px) {
  .period .calendarWrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 95%;
    z-index: 370;
  }
}
.period .calendarWrapper .ui-widget-content {
  border: none;
}
@media only screen and (max-width: 767px) {
  .period .calendarWrapper .ui-datepicker-group {
    float: none;
    width: 100%;
  }
}
.period .calendarWrapper #date_range {
  border-bottom: 1px solid #e5e5e5;
}
.period .calendarWrapper #date_range .ui-datepicker-group:first-child {
  border-right: 1px solid #e5e5e5;
}
@media only screen and (max-width: 767px) {
  .period .calendarWrapper #date_range .ui-datepicker-group:first-child {
    border: none;
  }
}
.period .calendarWrapper .ui-datepicker {
  width: 540px !important;
  padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .period .calendarWrapper .ui-datepicker {
    width: auto!important;
  }
}
.period .calendarWrapper .ui-datepicker .ui-datepicker-header {
  background: transparent;
}
.period .calendarWrapper .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  display: flex;
  align-items: center;
  justify-content: center;
}
.period .calendarWrapper .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
  text-indent: 0;
  background-image: none;
}
.period .calendarWrapper .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon:before {
  content: '\f104';
  display: block;
  font-family: FontAwesome;
  font-size: 18px;
  width: 8px;
  margin: 0 auto;
}
.period .calendarWrapper .ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
  text-indent: 0;
  background-image: none;
}
.period .calendarWrapper .ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon:before {
  content: '\f105';
  display: block;
  font-family: FontAwesome;
  font-size: 18px;
  width: 8px;
  margin: 0 auto;
}
.period .calendarWrapper .ui-datepicker .ui-datepicker-title span {
  font-family: 'SegoeReg', sans-serif;
  font-size: 1.125rem;
  color: #58666e;
}
.period .calendarWrapper .ui-datepicker td {
  padding: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .period .calendarWrapper .ui-datepicker td {
    padding: 0;
  }
}
.period .calendarWrapper .ui-datepicker td.selected {
  background: #e5f9f9;
}
.period .calendarWrapper .ui-datepicker td .ui-state-default {
  font-family: 'SegoeSemiBold', sans-serif;
  font-size: 1rem;
  color: #8898a0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0;
}
.period .calendarWrapper .ui-datepicker td .ui-state-hover {
  background: #02c3c7;
  color: #fff;
}
.period .calendarWrapper .ui-datepicker td .ui-state-highlight {
  color: #fff;
}
.period .calendarWrapper .ui-datepicker td .ui-state-active {
  background: #e5f9f9;
  color: #8898a0;
  font-family: 'SegoeBold', sans-serif;
}
.period .calendarWrapper .ui-datepicker-calendar th span {
  font-family: 'SegoeReg', sans-serif;
  color: #8898a0;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.period .calendarWrapper .ui-datepicker .selected-start:not(.selected-end) a,
.period .calendarWrapper .ui-datepicker .selected-end:not(.selected-start) a {
  background: #02c3c7;
  color: #fff;
}
.selectedBar {
  color: #8898a0;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  padding: 24px;
}
@media only screen and (max-width: 767px) {
  .selectedBar {
    padding: 12px;
  }
}
.selectedBar ul {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .selectedBar ul {
    flex-wrap: wrap;
  }
}
.selectedBar ul li {
  padding: 0 12px;
}
@media only screen and (max-width: 767px) {
  .selectedBar ul li {
    padding: 0 7px;
  }
}
.selectedBar ul li:last-child {
  padding-right: 0;
}
.selectedBar ul a {
  font-size: 0.75rem;
  font-family: 'SegoeBold', sans-serif;
  color: #02c3c7;
  white-space: nowrap;
  text-transform: uppercase;
}
.footer-popup {
  border-top: 1px solid #e5e5e5;
  padding: 30px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .footer-popup {
    flex-wrap: wrap;
    padding: 12px;
  }
}
.outputDate {
  position: relative;
}
.outputDate > div {
  font-family: 'SegoeSemiBold', sans-serif;
  font-size: 1rem;
  color: #8898a0;
  display: inline-block;
}
.outputDate > div:last-of-type:after {
  display: none;
}
.outputDate > div:after {
  content: '\f105';
  font-family: FontAwesome;
  color: #02c3c7;
  margin: 0 5px;
}
.outputDate:after {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background: #dedede;
  position: absolute;
  right: -30px;
  top: 2px;
}
@media only screen and (max-width: 767px) {
  .outputDate:after {
    display: none;
  }
}
.btn-bar {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .btn-bar {
    margin-top: 10px;
    justify-content: flex-end;
    width: 100%;
  }
}
.btn-bar .btnBlue {
  margin-left: 12px;
}
